.centerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerGeral{
    position: relative;
    transform: translateY(800px);
    margin-bottom: -30%;
}

.title { 
    width: 33vw;
    height: auto;
    font-family: 'NES2';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}

.pink {
    color: #ED2856;;
}

.blue {
    color: #00A7A2;;
}

.upperButtonWrapper { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 0px 40px 0px;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sliderContainer {
    width: 85vw;
    height: 60vh;
}

.centerButton { 
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerButton button {
    font-family: 'NES2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #F1F1F1;
}

.centerButton a {
    text-decoration: none;
}