.Container { 
    background-color: #3B3B3B;
    height: 50vh;
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 48%;
    width: 98%;
    padding: 2px;
}

.Container h3 {
    width: 98%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F1F1F1;
}

.Container p {
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E6E6E6;
}